<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 ">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Game List</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2"
                 style="padding-top: 15px;">
                <div class="table-responsive p-0">
                    <div class="row ">
                        <button class="col btn btn-icon btn-3 bg-gradient-primary shadow-primary" type="button"
                                style="margin-left: 30px; max-width: 120px"
                                ng-click="action='create'"
                                data-bs-toggle="modal"
                                data-bs-target="#gameModal" ng-click="reset()">
                        <span class="btn-inner--icon"><i
                                class="material-icons material-symbols-outlined">library_add
                        </i>
                        </span>
                            <span class="btn-inner--text">Create</span>
                        </button>
                        <div class="col input-group
                                      input-group-outline">
                            <input type="text"
                                   class="col-md-auto form-control"
                                   style="margin: 0px 10px 0px 10px; padding: 0px 0px 0px 0px; height: 45px;"
                                   placeholder="Search by game or by category"
                                   aria-label="Username"
                                   aria-describedby="basic-addon1"
                                   ng-model="searchGame"
                                   ng-change="searchGameEvent()">
                        </div>
                        <div class="col btn-group" style="margin-right: 20px" role="group"
                             aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                                   ng-model="search"
                                   ng-value="'all'"
                                   checked>
                            <label class="btn btn-outline-primary" for="btnradio1">ALL</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                                   ng-model="search"
                            ng-value="'name'">
                            <label class="btn btn-outline-primary" for="btnradio2">NAME</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                                   ng-model="search"
                            ng-value="'category'">
                            <label class="btn btn-outline-primary" for="btnradio3">CATEGORY</label>
                        </div>
                    </div>
                    <div ng-show="isLoading" class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <table ng-hide="isLoading" class="table align-items-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                INFORMATION
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                CATEGORIES
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                WEBSITE
                            </th>
                            <th class="text-secondary opacity-7"></th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="game in pager.content">
                            <td>
                                <div class="d-flex px-2 py-1">
                                    <div>
                                        <img src="{{game.header_image}}"
                                             class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{game.name}}</h6>
                                        <p class="text-xs text-secondary mb-0">GAMEID: {{game.appid}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0" ng-repeat="category in game.categories">
                                    {{category.name}}</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <p class="text-xs font-weight-bold mb-0"><a href="{{game.website}}" target="_blank">{{game.website}}</a>
                                </p>

                            </td>
                            <td class="align-middle">
                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                   data-toggle="tooltip" data-original-title="View"
                                   data-bs-toggle="modal" data-bs-target="#gameViewModal"
                                   ng-click="view(game.appid)">
                                    View
                                </a>|
                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                   data-toggle="tooltip" data-original-title="Edit user"
                                   data-bs-toggle="modal" data-bs-target="#gameModal"
                                   ng-click="edit(game.appid)">
                                    Edit
                                </a>|
                                <a class="text-secondary font-weight-bold text-xs"
                                   href="javascript:;"
                                   data-bs-target="#codeModal"
                                   data-bs-toggle="modal"
                                   ng-click="openFormKey(game.appid)">
                                    Code
                                </a>
                            </td>
                            <td class="align-middle">
                                <a class="text-secondary font-weight-bold text-xs"
                                   href="javascript:;"
                                   ng-click="delete(game.appid)">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>

                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example align-center">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="javascript:;" tabindex="-1"
                                   ng-click="pager.toFirst()">
                                        <span class="material-icons">
                                            first_page
                                        </span>
                                    <span class="sr-only">First</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:;" tabindex="-1"
                                   ng-click="pager.prev()">
                                        <span class="material-icons">
                                          keyboard_arrow_left
                                        </span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item" style="margin:5px 8px 5px 5px">
                                {{pager.number + 1}} of {{pager.totalPages}}
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:;"
                                   ng-click="pager.next()">
                                        <span class="material-icons">
                                          keyboard_arrow_right
                                        </span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:;" tabindex="-1"
                                   ng-click="pager.toLast()">
                                        <span class="material-icons">
                                            last_page
                                        </span>
                                    <span class="sr-only">First</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modalAddCode-->
<div class="modal fade modal-crud" id="codeModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Key modal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        ng-click="reset()"
                        style="background-color: rebeccapurple"></button>
            </div>
            <div class="modal-body">
                <div class="nav-wrapper position-relative end-0">
                    <ul class="nav nav-pills nav-fill p-1" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#code-tabs"
                               role="tab" aria-controls="preview" aria-selected="true">
                                                  <span class="material-icons align-middle mb-1">
                                                    password
                                                  </span>
                                Add key
                            </a>
                        </li>
                        <li class="nav-item" disabled="true">
                            <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#table-tabs"
                               role="tab" aria-controls="code" aria-selected="false">
                                                    <span class="material-icons align-middle mb-1 font-weight-bold">
                                                      list
                                                    </span>
                                List key
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content mt-2">
                        <div id="code-tabs" class="tab-pane fade show active">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <h5 class="card-title">GAMEID: {{key.game.appid}}</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="card-title">Select platform</h5>
                                    <select id="platformSelect"
                                            ng-model="key.platform.id"

                                            class="form-select" style="width: 100%">
                                        <option value="" disabled>Select platform</option>
                                        <option ng-repeat="p in platforms" ng-value="p.id">{{p.name}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="mb-3">
                                <div class="input-group input-group-static">
                                    <h5 class="card-title">Key number </h5>
                                    <input type="text" class="form-control text-xl-start"
                                           placeholder="example: eyJhbGciOiJIUzI1NiJ9"
                                           ng-model="key.code">
                                </div>
                            </div>
                        </div>
                        <div id="table-tabs" class="tab-pane fade">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">CODE</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">PLATFORM</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="k in keys">
                                    <th>{{k.id}}</th>
                                    <td>{{k.code}}</td>
                                    <td>{{k.active}}</td>
                                    <td>{{k.platform.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="addKey()">Add
                </button>
            </div>
        </div>
    </div>
</div>
<!--modal view-->
<div class="modal fade modal-crud" id="gameViewModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="viewModalLabel">Game Modal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        ng-click="reset()"
                        style="background-color: rebeccapurple"></button>
            </div>
            <div class="modal-body">
                <div class="nav-wrapper position-relative end-0">
                    <ul class="nav nav-pills nav-fill p-1" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#detail-tabs-icons"
                               role="tab" aria-controls="preview" aria-selected="true">
                                                  <span class="material-icons align-middle mb-1">
                                                    badge
                                                  </span>
                                Detail
                            </a>
                        </li>
                        <li class="nav-item" disabled="true">
                            <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#review-tabs-icons"
                               role="tab" aria-controls="code" aria-selected="false">
                                                    <span class="material-icons align-middle mb-1">
                                                      reviews
                                                    </span>
                                Review
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content mt-2">
                        <div id="detail-tabs-icons" class="tab-pane fade show active">
                            <div class="card mb-3">
                                <div class="container0">
                                    <img src="{{form.header_image}}" class="card-img-top" id="image_background"
                                         style="height: 400px" alt="loading">
                                    <!--                                    <video class="card-img-top" id="video-background" style="height: 400px"-->
                                    <!--                                           ng-if="form.movies.length > 0" autoplay muted controls>-->
                                    <!--                                        <source src="{{form.movies}}" type="video/mp4">-->
                                    <!--                                        <source src="{{form.movies}}" type="video/ogg"/>-->
                                    <!--                                        Your browser does not support the video tag.-->
                                    <!--                                    </video>-->
                                </div>

                                <div class="card-body">
                                    <h3 class="card-title">{{form.name}}</h3>
                                    <h5 class="card-text">CATEGORIES:<small class="text-body-secondary"><p
                                            class="card-text">{{form.categories}}</p></small></h5>
                                    <h5 class="card-text">PLATFORMS:<small class="text-body-secondary"><p
                                            class="card-text">{{form.platforms}}</p></small></h5>
                                    <h5 class="card-text">DETAIL DESCRIPTION:<p class="card-text"><small
                                            class="text-body-secondary">{{form.detailed_description}}</small></p></h5>
                                    <h5 class="card-text"><small class="text-body-secondary">ABOUT THE GAME: <p
                                            class="card-text"><small
                                            class="text-body-secondary">{{form.about_the_game}}</small></p></small></h5>
                                    <h5 class="card-text"><small class="text-body-secondary">SHORT DESCRIPTION: <p
                                            class="card-text"><small class="text-body-secondary">{{form.short_description}}</small>
                                    </p></small></h5>
                                    <h5 class="card-text"><small class="text-body-secondary">SUPPORTED LANGUAGES: <p
                                            class="card-text">{{form.supported_languages}}</p></small></h5>
                                    <h5 class="card-text "><small class="text-body-secondary">WEBSITE: <a
                                            href="{{form.website}}" target="_blank"><p class="card-text">
                                        {{form.website}}</p></a></small></h5>
                                    <h5 class="card-text mb-3">Images:
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                            <div class="col"
                                                 ng-if="form.images.length >0"
                                                 ng-repeat="img in form.images track by $index">
                                                <div class="card h-100">
                                                    <img src="{{img}}" class="card-img-top" alt="...">
                                                </div>
                                            </div>
                                        </div>
                                    </h5>

                                    <h5 class="card-text">Movies:</h5>
                                    <div class="row row-cols-1 row-cols-md-3 g-4">
                                        <div class="col"
                                             ng-if="form.movies.length >0"
                                             ng-repeat="mv in form.movies track by $index">
                                            <div class="card h-100">
                                                <video class="card-img-top" autoplay muted>
                                                    <source src="{{mv}}" type="video/mp4">
                                                    <source src="{{mv}}" type="video/ogg"/>
                                                    Your browser does not support the video tag.
                                                </video>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="review-tabs-icons" class="tab-pane fade">
                            <table class="table align-items-center mb-0 ">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        NAME
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        CONTENT
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        LIKE
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        DISLIKE
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        RATING
                                    </th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="review in reviews">
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="{{review.account.photo}}"
                                                     class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm text-uppercase">{{review.account.username}}</h6>
                                                <p class="text-xs text-secondary mb-0">USERID: {{review.account.id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0 text-wrap">
                                            {{review.text}}</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-xs font-weight-bold mb-0">
                                            <a href="{{game.website}}" target="_blank">
                                                {{review.like}}
                                            </a>
                                        </p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-xs font-weight-bold mb-0">
                                            <a href="{{game.website}}" target="_blank">
                                                {{review.dislike}}
                                            </a>
                                        </p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-xs font-weight-bold mb-0">
                                            <a href="{{game.website}}" target="_blank">
                                                {{review.rating}}
                                            </a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="reset()">Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--modal-->
<div ng-controller="modalCreateGameController" class="modal fade modal-crud" id="gameModal" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Game Modal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        ng-click="reset()"
                        style="background-color: rebeccapurple"></button>
            </div>
            <div class="modal-body">
                <div class="nav-wrapper position-relative end-0">
                    <form class="row g-3">
                        <div class="col-md-6">
                            <div class="input-group input-group-static">
                                <label>Name</label>
                                <input type="text" class="form-control"
                                       ng-model="form.name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-static">
                                <label>Categories</label>
                                <select multiple id="categoriesSelect"
                                        class="form-select" style="width: 100%">
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <label>Detail Description</label>
                            <div id="detail_description"
                                 name="detail"
                            >
                            </div>
                        </div>
                        <div class="col-12"
                             style="margin-top: 100px;">
                            <label>About</label>
                            <div id="about">
                            </div>
                        </div>
                        <div class="col-md-12"
                             style="margin-top: 100px;
                         margin-bottom: 100px">
                            <label>Short description</label>
                            <div id="short_description">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-static">
                                <label>Support Language</label>
                                <select multiple id="country"
                                        class="form-select" style="width: 100%">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-static">
                                <label>Website</label>
                                <input type="text" class="form-control"
                                       placeholder="https://example.com/"
                                       ng-model="form.website">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-static">
                                <label>Price</label>
                                <input type="number" class="form-control"
                                       placeholder="$"
                                       ng-model="form.price"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-static">
                                <label>Stock</label>
                                <input type="number" class="form-control"
                                       ng-model="form.stock"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-static">
                                <label>Discount</label>
                                <input type="number" class="form-control"
                                       placeholder="%"
                                       ng-model="form.discount"
                                >
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group input-group-static">
                                <label style="margin-top:10px">Header Image</label>
                                <input type="text"
                                       style="margin: 0px 10px 0px 10px"
                                       class="form-control w-50"
                                       placeholder="Nhập url ảnh vào đây"
                                       ng-model="form.header_image"
                                >
                                <button style="margin: 5px 0px 0px 10px"
                                        class="btn btn-primary"
                                        ng-click="uppyHeaderImage.show({search: {expression: 'resource_type:image'}})"
                                        data-bs-target="#headerModal"
                                        data-bs-toggle="modal"
                                >
                                    Choose file
                                </button>
                            </div>


                            <div class="flex " style="max-height: 250px;" ng-hide="!form.header_image">
                                <div class="row row-cols-3 p-4">
                                    <div class="col position-relative mb-3 card">
                                        <img class="w-100" style="height: 180px; object-fit: fill"
                                             src="{{form.header_image}}"
                                        >
                                        <button type="button" ng-click="deleteImg2()"
                                                style="width: 15px; height: 15px;"
                                                class="btn-close position-absolute top-0 end-0 translate-middle-x rounded-circle bg-danger bg-danger text-white"
                                        >
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group input-group-static">
                                <label style="margin-top:10px">Capsule Image</label>
                                <input type="text"
                                       style="margin: 0px 10px 0px 10px"
                                       class="form-control w-50"
                                       placeholder="Nhập url ảnh vào đây"
                                       ng-model="form.capsule_image"
                                >
                                <button style="margin: 5px 0px 0px 10px"
                                        class="btn btn-primary"
                                        ng-click="uppyCapsuleImage.show({search: {expression: 'resource_type:image'}})"
                                        data-bs-target="#capsuleModal"
                                        data-bs-toggle="modal"
                                >
                                    Choose file
                                </button>
                            </div>
                            <div class="" style="max-height: 250px;" ng-hide="!form.capsule_image">
                                <div class="row row-cols-3 p-4">
                                    <div class="col position-relative mb-3 card">
                                        <img class="w-100" style="height: 180px; object-fit: fill"
                                             src="{{form.capsule_image}}"
                                        >
                                        <button type="button" ng-click="deleteImg3()"
                                                style="width: 15px; height: 15px;"
                                                class="btn-close position-absolute top-0 end-0 translate-middle-x rounded-circle bg-danger bg-danger text-white"
                                        >
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group input-group-static">
                                <label style="margin-top:10px">Images</label>
                                <input type="text"
                                       style="margin: 0px 10px 0px 10px"
                                       class="form-control w-50"
                                       placeholder="Nhập url ảnh vào đây"
                                       ng-model="imageUrls"
                                >
                                <button style="margin: 5px 0px 0px 10px"
                                        class="btn btn-primary"
                                        ng-click="setURL(imageUrls, form.images)"
                                >+
                                </button>
                                <button style="margin: 5px 0px 0px 10px"
                                        class="btn btn-primary"
                                        ng-click="uppyImages.show({search: {expression: 'resource_type:image'}})"
                                        data-bs-target="#imageModal"
                                        data-bs-toggle="modal"
                                >
                                    Choose file
                                </button>
                            </div>
                            <div class="card-group flex overflow-y-auto overflow-x-auto" ng-hide="!form.images">
                                <div class="row row-cols-auto">
                                    <div class="col position-relative mb-3 card"
                                         data-animation="true"
                                         style="margin-top:70px"
                                         ng-if="form.images.length >0"
                                         ng-repeat="img in form.images track by $index"
                                    >
                                        <div class="card-header p-0 position-relative mt-n4 mx-3 ">
                                            <a class="d-block blur-shadow-image text-center">
                                                <img src="{{ img }}"
                                                     alt="img-blur-shadow"
                                                     style="height: 180px; object-fit: fill"
                                                     class="img-fluid shadow border-radius-lg">
                                            </a>
                                            <div class="colored-shadow"
                                            ></div>
                                        </div>
                                        <div class="card-body text-center">
                                            <div class="d-flex mt-n6 mx-auto">
                                                <a class="btn btn-link text-primary ms-auto border-0"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-placement="bottom" title="Delete"
                                                   ng-click="deleteImg(form.images,img)"
                                                   ng-hide="tagA">
                                                    <i class="material-icons text-lg"
                                                    >delete</i>
                                                </a>
                                                </a>
                                                <button class="btn btn-link text-info me-auto border-0"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom" title="Edit"
                                                        ng-click="deleteImg(form.images,img)"

                                                        ng-hide="tagA">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                        <hr class="dark horizontal my-0">
                                        <div class="card-footer d-flex">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group input-group-static">
                                <label style="margin-top:10px">Movie</label>
                                <input type="text"
                                       style="margin: 0px 10px 0px 10px"
                                       class="form-control w-50"
                                       placeholder="Nhập url ảnh vào đây"
                                       ng-model="movies"
                                >
                                <button style="margin: 5px 0px 0px 10px"
                                        class="btn btn-primary"
                                        ng-click="setURL(movies, form.movies)"
                                >+
                                </button>
                                <button style="margin: 5px 0px 0px 10px"
                                        class="btn btn-primary"
                                        ng-click="uppyMovies.show({search: {expression: 'resource_type:video'}})"
                                        data-bs-target="#movieModal"
                                        data-bs-toggle="modal"
                                >
                                    Choose file
                                </button>
                            </div>
                            <div class="card-group flex overflow-y-auto overflow-x-auto">
                                <div class="row row-cols-auto">
                                    <div class="col position-relative mb-3 card"
                                         data-animation="true"
                                         style="margin-top:70px"
                                         ng-if="form.movies.length >0"
                                         ng-repeat="img in form.movies track by $index">
                                        <div class="card-header p-0 position-relative mt-n4 mx-3">
                                            <a class="d-block blur-shadow-image text-center">
                                                <video alt="img-blur-shadow"
                                                       style="height: 180px; object-fit: fill"
                                                       class="img-fluid shadow border-radius-lg">
                                                    <source src="{{ img }}">
                                                </video>
                                            </a>
                                            <div class="colored-shadow"></div>
                                        </div>
                                        <div class="card-body text-center">
                                            <div class="d-flex mt-n6 mx-auto">
                                                <a class="btn btn-link text-primary ms-auto border-0"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-placement="bottom" title="Delete"
                                                   ng-click="deleteImg(form.movies,img)"
                                                   ng-hide="tagA">
                                                    <i class="material-icons text-lg">delete</i>
                                                </a>
                                                <button class="btn btn-link text-info me-auto border-0"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom" title="Edit"
                                                        ng-click="deleteImg(form.movies,img)"

                                                        ng-hide="tagA">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="reset()">Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="create()" ng-if="action==='update'"
                        ng-hide="tagA">Save changes
                </button>
                <button type="button" class="btn btn-primary" ng-click="create()" ng-if="action==='create'"
                        ng-hide="tagA">Save
                </button>
            </div>
        </div>
    </div>
</div>

<!--image modal-->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close"
                        id="btnCloseModal2"
                        data-bs-toggle="modal"
                        data-bs-target="#gameModal"
                        style="background-color: rebeccapurple"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body " style="height: 1000px">
                <div id="widget_images" style="height: 600px"></div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        id="btnCloseModal"
                        data-bs-toggle="modal"
                        data-bs-target="#gameModal"
                        class="btn bg-gradient-info">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--header modal-->
<div class="modal fade" id="headerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close"
                        id="btnModalHeader"
                        data-bs-toggle="modal"
                        data-bs-target="#gameModal"
                        style="background-color: rebeccapurple"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body " style="height: 1000px">
                <div id="headerImageCloudinary" style="height: 600px"></div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        id="btnCloseModalHeader"
                        data-bs-toggle="modal"
                        data-bs-target="#gameModal"
                        class="btn bg-gradient-info">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--capsule modal-->
<div class="modal fade" id="capsuleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close"
                        id="btnModalCapsule"
                        data-bs-toggle="modal"
                        data-bs-target="#gameModal"
                        style="background-color: rebeccapurple"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body " style="height: 1000px">
                <div id="capsuleImageCloudinary" style="height: 600px"></div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        id="btnCloseModalCapsule"
                        data-bs-toggle="modal"
                        data-bs-target="#gameModal"
                        class="btn bg-gradient-info">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--movie modal-->
<div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close"
                        id="btnMovie"
                        data-bs-toggle="modal"
                        data-bs-target="#gameModal"
                        style="background-color: rebeccapurple"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body " style="height: 1000px">
                <div id="moviesCloudinary" style="height: 600px"></div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        id="btnCloseMovie"
                        data-bs-toggle="modal"
                        data-bs-target="#gameModal"
                        class="btn bg-gradient-info">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<!--js -->
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
    const myModal = document.getElementById('exampleModal')
    // const myInput = document.getElementById('myInput')
    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.min.js?v=3.1.0"></script>
