<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Review List</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0" style="table-layout: fixed">
                        <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                ID
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                                style="width: 500px">
                                TEXT
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                RATING
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                ACCOUNT ID
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                GAME ID
                            </th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="r in pager.content">
                            <td>
                                <span class="text-secondary text-xs font-weight-bold">{{r.id}}</span>
                            </td>
                            <td class="align-middle" style="white-space: normal">
                                <span class="text-secondary text-xs font-weight-bold">{{r.text}}</span>
                            </td>
                            <td class="align-middle">
                                <span class="text-secondary text-xs font-weight-bold">{{r.rating}}</span>
                            </td>
                            <td class="align-middle">
                                <span class="text-secondary text-xs font-weight-bold">{{r.accountId}}</span>
                            </td>
                            <td class="align-middle">
                                <span class="text-secondary text-xs font-weight-bold">{{r.gameId}}</span>
                            </td>
                            <td class="align-middle">
                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                   data-bs-toggle="modal" data-bs-target="#reviewModal" ng-click="edit(r.gameId)">
                                    View
                                </a>|
                                <a class="text-secondary font-weight-bold text-xs"
                                   href="javascript:;"
                                   ng-click="delete(r.id)">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example align-center">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="javascript:;" tabindex="-1"
                                   ng-click="pager.toFirst()">
                                        <span class="material-icons">
                                            first_page
                                        </span>
                                    <span class="sr-only">First</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:;" tabindex="-1"
                                   ng-click="pager.prev()">
                                        <span class="material-icons">
                                          keyboard_arrow_left
                                        </span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item" style="margin:5px 8px 5px 5px">
                                {{pager.number + 1}} of {{pager.totalPages}}
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:;"
                                   ng-click="pager.next()">
                                        <span class="material-icons">
                                          keyboard_arrow_right
                                        </span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:;" tabindex="-1"
                                   ng-click="pager.toLast()">
                                        <span class="material-icons">
                                            last_page
                                        </span>
                                    <span class="sr-only">First</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal view-->
<div class="modal fade modal-crud" id="reviewModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table align-items-center mb-0 ">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">
                            USERNAME
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">
                            GAMES
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">
                            CONTENT
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            RATING
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            LIKES
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            DISLIKES
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            CREATED AT
                        </th>
                        <th class="text-secondary opacity-7"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in review.content">
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="{{r.account.photo}}"
                                         class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm text-uppercase">{{r.account.username}}</h6>
                                    <p class="text-xs text-secondary mb-0">USERID: {{r.account.id}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="{{r.game.header_image}}"
                                         class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm text-uppercase">{{r.game.name}}</h6>
                                    <p class="text-xs text-secondary mb-0">GAMEID: {{r.game.appid}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="text-xs text-wrap font-weight-bold mb-0">
                                {{r.text}}
                            </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0">
                                {{r.rating}}
                            </p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0">
                                {{r.likes}}
                            </p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0">
                                {{r.dislikes}}
                            </p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0">
                                <a href="{{game.website}}" target="_blank">
                                    {{r.createdAt | date:'yyyy-MM-dd'}}
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.min.js?v=3.1.0"></script>
